.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header{
    background-color: rgb(178, 248, 248);
}
.img_name{
    display: flex;
    align-items: center;
}
.img_name img{
    padding: 10px;
    width: 65px;
    height: 50px;
}
.deff{
    color: #7F41E8;
}

.navbar a{
    color: black;
    text-decoration: none;
    margin-right: 5px;
    padding: 5px 5px;
    font-size: 17px;
    font-weight: 500;
}
.navbar a:hover{
    background: #7054E8;
    color: white;
    
}
.border_none{
    border: none;
}
.active{
    border-bottom: 3px solid #7054E8;
}
@media screen and (max-width: 600px) {
    .header_container{
        width: 100%;
    }
  }